@keyframes correctAnswer {
    from {background-color: blue;}
    to {background-color: rgb(224, 212, 37);}
}

@keyframes wrongAnswer {
    from {background-color: red;}
    to {background-color: rgb(224, 212, 37);}
}

body {
    background-color: rgb(224, 212, 37);
    font-family: "Permanent Marker", cursive;
    font-size: 1.5rem;

}

main {
    background-image: url("../images/bg-loose-leaf2.png");
    background-repeat: repeat-y;
    margin-left: 10%;
    background-size: cover;
}

header {
    text-align: center;
    font-family: "Permanent Marker", cursive;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

button {
    height: 3rem;
    font-family: "Permanent Marker", cursive;
    width: 10rem;
}


li {
    margin-left: 2rem;
}

#quizBox {
    height: 100%;
}

#quizClock {
    margin-top: 30%;
    resize: none;
    border-radius: 2rem;
    text-align: center;
    padding-top: 2rem;
}

#startButton {
    margin-top: 2rem;
    margin-left: 10%;
}

#userName {
    margin-top: 1.5rem;
}

#tryAgainBtn {
    margin-left: 15rem;
    text-decoration: none;
}

#submitBtn {
    margin-top: 1.5rem;
}

.quizArea {
    margin-left: 10%;
}

.correctAnswer {
    animation-name: correctAnswer;
    animation-duration: 1s;
}

.wrongAnswer {
    animation-name: wrongAnswer;
    animation-duration: 1s;
}

.modal {
    display: none;
    /* position: fixed; */
    margin-top: 2rem;
    margin-left: 20%;
    z-index: 2;
    width: 20%;
    height: 50rem;
    background-color: lightblue;
    border-radius: 2rem;
}

.modal-content {
    background-color: white;
    margin-top: 3rem;
    margin-left: 2rem;
}